// AI
.ai-top-title {
	margin:0 0 pc-vh(90) 0;
	font-size: pc-vw(60);
	letter-spacing: 0.01em;
	@include mobile {
		margin:0 0 rem(24) 0;
		font-size: rem(28);
	}
}
.al-icon-title {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top:0;
		left:0;
		display: block ;
		width:pc-vw(80);
		aspect-ratio: 1/1;
		background-image: url(../img/sub/ai-h-icon.svg);
		background-size: contain;
		background-repeat: no-repeat;
		@include mobile {
			position: static;
			width: rem(54);
			margin:0 0 rem(14) 0;
		}
	}
	.iblock {
		margin:0 0 0 pc-vw(120);
		@include mobile {
			margin:0;
		}
	}
}
.ai-icon-title-sub {
	margin:0 0 0 pc-vw(120);
	font-size: pc-vw(20,14);
	@include mobile {
		margin:0;
	}
}
.ai-g-col-group {
	margin:0 0 0 pc-vw(120);
	@include mobile {
		margin:0;
	}
}
.ai-g-title-2 {
	margin:0 0 pc-vh(60) 0;
	@include mobile {
		margin:0 0 rem(24) 0;
	}
}
.ai-ar {
	.ai-ar-inner {
		margin:pc-vw(280) 0 0 0;
		@include mobile {
			margin:rem(80) 0 0 0;
		}
		&.ai-1 {

		}
		&.ai-2 {
			ul.swiper-wrapper {
				li {
					display: flex;
					align-items: center;
					justify-content: center;
					height:pc-vw(584);
					@include mobile {
						height:rem(870);
					}
					&.ty-1 {
						padding:pc-vw(80);
					}
					&.ty-2 {
						padding:pc-vw(40);
						background-color: #f4f4f4;
					}
					img {
						height:100%;
						&.pc {
							display: block;
							@include mobile {
								display: none;
							}
						}
						&.mo {
							display: none;
							@include mobile {
								display: block;
							}
						}
					}
				}
			}
			[data-swiper].swiper-ty .swiper {
				&[activeindex="activeIndex1"] {
					--shadow-size : none;
				}
			}
		}
		&.ai-3 {
			h4.g-title-2 {
				display: flex;
				@include mobile {
					flex-direction: column;
					margin:0 0 rem(40) 0;
				}
				&:before {
					content: '';
					display: block;
					width:pc-vw(90);
					height:pc-vh(90);
					margin:0 pc-vw(40) 0 0;
					background-image: url(../img/sub/ai-h-icon.svg);
					background-size: contain;
					background-repeat: no-repeat;
					@include mobile {
						width:rem(54);
						height:rem(54);
						margin:0 0 rem(14) 0;
					}
				}
			}
			div.g-col-group {
				div.col {
					@include mobile {
						margin: 0 0 rem(24) 0;
					}
				}
			}
			ul.ty-img-title-disc {
				@include mobile {
					padding:0;
					> li {
						display: flex;
						align-items: center;
						padding:pc-vw(64) 0;
						div.img {
							@include mobile {
							}
							img {
								transform: scale(1);
							}
						}
						div.p-wrap {
							transition: none;
							@include mobile {
								transform: translateY(0);
							}
						}
					}
				}
			}
		}
		&.ai-4 {
			position: relative;
			padding:pc-vh(280) 0 0 0;
			background-color: #030281;
			color:#fff;
			&:before {
				content: '';
				position: absolute;
				display: block;
				width:150%;
				height:calc(100% + pc-vh(200));
				top:0;
				left:50%;
				transform: translateX(-50%);
				background-color: #030281;
				z-index:-1;
				@include mobile {
					width:calc(100% + rem(40));
				}
			}
			@include mobile {
				padding:rem(80) 0 rem(80) 0;
				&:before { height:calc(100% + rem(82)); }
			}
			ul.video-list {
				margin:rem(60) 0 0 0;
				li {
					display: flex;
					&:not(:last-child) {
						margin-bottom: pc-vh(140);
					}
					@include mobile {
						flex-direction: column;
						&:not(:last-child) {
							margin-bottom: rem(40);
						}
						> a {
							width:100%;
						}
					}

					span.video-thumb {
						pointer-events: none;
						position:relative;
						display: block;
						border-radius: rem(10);
						overflow: hidden;
						&:before {
							content:'';
							position:absolute;
							top:0;
							left:0;
							display: block;
							width:100%;
							height:100%;
							background-color: rgba(17, 17, 17, 0.80);
							background-image: url(../img/sub/ai-icon-play.svg);
							background-size:rem(90) rem(90);
							background-repeat: no-repeat;
							background-position: center;
							z-index:2;
							@include mobile {
								background-size:rem(40) rem(40);
							}
						}

						img {
							position:absolute;
							top:0;
							left:50%;
							transform: translateX(-50%);
							width:100%;
							&.pc {
								display: block;
							}
							&.mo {
								display: none;
							}
							@include mobile {
								position: static;
								transform: none;
								&.pc {
									display: none;
								}
								&.mo {
									display: block;
								}
							}
						}
					}
					div.p-wrap {

						p.title {
							margin:0 0 pc-vh(40) 0;
							font-size:pc-vw(28);
							font-weight: 600;
							line-height: 1.35;
							letter-spacing: -0.01em;
							@include mobile {
								margin:rem(32) 0 rem(16) 0;
								font-size:rem(24);
							}
						}
						p.sub-disc {
							letter-spacing: -0.02em;
							@include mobile {
								font-size:rem(14);
							}
						}
					}
					&:nth-child(1) {
						align-items: flex-end;
						@include mobile {
							align-items: flex-start;
						}
						span.video-thumb {
							width:pc-vw(580);
							aspect-ratio: 10/6.9;
							margin:0 pc-vw(60) 0 0;
							@include mobile {
								width:100%;
								aspect-ratio: 16/9;
							}
						}
					}
					&:nth-child(2) {
						flex-direction: row-reverse;
						@include mobile {
							flex-direction: column;
						}
						> a {
							display: flex;
							justify-content: flex-end;
							@include mobile {
								justify-content: flex-start;
							}
						}
						span.video-thumb {
							width:pc-vw(340);
							aspect-ratio: 10/15.3;
							background-color: #fff;
							flex-direction: column;
							@include mobile {
								width:100%;
								aspect-ratio: 16/9;
							}
							img {
								height:pc-vh(550);
								transform: translateX(-50%);
								@include mobile {
									height: auto;
									transform: none;
								}
							}
						}
						div.p-wrap {
							width:calc(100% - pc-vw(340));
							display: flex;
							flex-direction: column;
							justify-content: center;
							margin-left:pc-vw(190);
							@include mobile {
								width:100%;
								margin:0;
								justify-content: flex-start;
							}
						}
					}
					&:nth-child(3) {
						align-items: flex-end;
						@include mobile {
							align-items: flex-start;
						}
						span.video-thumb {
							width:pc-vw(360);
							aspect-ratio: 1/1;
							margin-left:pc-vw(190);
							margin-right:pc-vw(60);
							@include mobile {
								width:100%;
								aspect-ratio: 16/9;
								margin:0;
							}
						}
					}
				}
			}
		}
		&.ai-5 {
			@include mobile {
				padding:rem(60) 0;
				background-color: #f4f4f4;
			}
			h5.g-title-2 {
				@include mobile {
					text-align: center;
				}
			}
			div.inner-table-img {
				padding:pc-vh(123) pc-vw(186);
				background-color: #f4f4f4;
				border-radius: rem(6);
				@include mobile {
					padding:0;
					background: none;
					border-radius: 0;
				}
				img {
					width:100%;
					&.pc {
						display: block;
						@include mobile {
							display: none;
						}
					}
					&.mo {
						display: none;
						@include mobile {
							display: block;
						}
					}
				}
			}
		}
		&.ai-6 {
			@include mobile {
				padding:0 0 rem(80) 0;
			}
		}
		h5.g-title-2 {
			margin-bottom:pc-vh(60);
			@include mobile {
				margin-bottom:rem(20);
			}
		}
	}
	@include mobile {
		padding-bottom: rem(82) !important;
		margin-bottom: rem(-83) !important;
	}
}