@use 'sass:math';

// Main
.main-indicator {
	pointer-events: none;
	@include desktop {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		--pd-v: calc(var(--size-v-header) * 0.37);
		padding: var(--pd-v) 0 var(--pd-v) var(--space-l-body);
		font-size: rem(16);
		line-height: var(--size-logo);
		text-transform: uppercase;
		color: #fff;
		transition: all $ani-time $ease-inout-cubic;
		.header.min:not(.scroll-up) + .container & {
			transform: translateY(calc(var(--size-v-header) * -1));
		}
		.page {
			margin-left: rem(58);
			&::after {
				content: " / "attr(data-total);
				color: #868686;
			}
			&::before {
				content: attr(data-cur);
			}
		}
	}
	@include mobile {
		display: none;
	}
}
.main-section {
	position: relative;
	z-index: 2;
	.by {
		font-size: pc-vw(28, 24);
		font-weight: 300;
		line-height: 1.214;
	}
	&.sec-1 {
		min-height: min(100vh, var(--vh-100));
		margin-top: calc(var(--size-v-header) * -1);
		.copy {
			font-weight: 500;
			span { display: block; }
		}
		@include desktop {
			.copy {
				position: absolute;
				bottom: var(--space-v-base);
				font-size: pc-vw(180);
				letter-spacing: -0.0375em;
				line-height: math.div(170, 180);
			}
			.by {
				position: absolute;
				right: 0;
				bottom: var(--space-v-base);
				padding-bottom: rem(12);
				letter-spacing: -0.0375em;
			}
		}
		@include mobile {
			display: flex;
			flex-direction: column;
			text-align: center;
			.copy {
				margin-top: auto;
				font-size: rem(50);
				letter-spacing: -0.02em;
				line-height: 1.12;
			}
			.by {
				margin-top: rem(20);
				margin-bottom: auto;
			}

			&::after {
				content: 'Scroll';
				position: fixed;
				left: 0; right: 0;
				bottom: rem(40);
				padding-bottom: rem(10);
				font-size: rem(12);
				font-weight: 500;
				line-height: 1.25;
				color: #fff;
				text-align: center;
				background: $svg-arrow center bottom / rem(12) auto no-repeat;
				animation: ani-fade-in $ani-text-time $ani-time both;
				.header.min + .container & {
					animation: ani-fade-out $ani-time both;
				}
			}
		}
	}
	&.sec-2 {
		--per: 0;
		.inner {
			&::after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 50%;
				background:url("../img/common/hypnosis-ai.svg") center bottom / auto 14.25vh no-repeat, url("../img/common/hypnosis.svg") center top / auto 200% no-repeat;
			}
			.mov {
				&::before {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					transition: opacity $ani-time linear;
					background: rgba(0,0,0,.6) $svg-play center center / auto 16.24% no-repeat;
				}
				img, video {
					aspect-ratio: 16/9;
				}
			}
		}
		&.ani {
			.mov::before {
				opacity: 0;
			}
		}

		@include desktop {
			min-height: 200vh;
			margin: 0 var(--space-h-content-m) 0 calc(var(--space-l-body) * -1);
			.inner {
				position: sticky;
				top: 0;
				height: 100vh;
				overflow: hidden;
				&::after {
					top: 20vh;
					width: 100%;
					height: 80vh;
				}
			}
			.mov {
				position: absolute;
				left: 50%;
				top: calc(pc-vh(140) - (pc-vh(140) * var(--per)));
				z-index: 2;
				transform: translateX(-50%) scale(max(calc((var(--viewport-ratio) / (16 / 9)) * var(--per)), 1));
				aspect-ratio: 16/9;
				height: calc(#{pc-vh(554)} + ((100vh - #{pc-vh(554)}) * var(--per)));
				will-change: top, transform, height;
				img, video {
					height: 100%;
				}
			}
			.copy {
				position: absolute;
				top: pc-vh(696);
				left: 50%;
				z-index: 1;
				width: calc(#{pc-vh(554)} * (16 / 9));
				padding-top: rem(20);
				transform: translateX(-50%);
				font-size: pc-vw(28);
				font-weight: 500;
				letter-spacing: -0.0375em;
				line-height: math.div(38, 28);
			}
			.by {
				position: absolute;
				z-index: 1;
				right: var(--space-h-content);
				bottom: var(--space-v-base);
				letter-spacing: -0.0375em;
			}
		}
		@include mobile {
			padding: var(--space-v-base) 0 rem(277);
			min-height: 0;
			.inner {
				display: flex;
				flex-direction: column;
				&::after {
					height: rem(345);
					bottom: 0;
					background-size: auto rem(69), auto rem(704);
				}
			}
			.mov {
				position: relative;
				order: 1;
				margin-top: rem(65);
				img, video {
					display: block;
					width: 100%;
				}
				@include transition-fade-up-init(30, 100ms);
			}
			.copy {
				margin-top: rem(24);
				font-size: rem(24);
				font-weight: 500;
				letter-spacing: -0.02em;
				line-height: 1.208;
				@include transition-fade-up-init(30, 0ms);
			}
			.by {
				@include transition-fade-up-init(30, 0ms);
			}
			&.ani-visible {
				.mov, .copy, .by {
					@include transition-fade-up;
				}
			}
		}
	}
	&.sec-3 {
		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: -1;
			left: calc(var(--space-l-body) * -1);
			right: var(--space-h-content-m);
			background-color: var(--base-bg);
			@include mobile {
				background-color: #000;
			}
		}
		color: #fff;

		.sec-3-1 {
			.copy {
				font-weight: 500;
				strong { font-weight: inherit; }
			}
			.by {
				font-weight: 400;
			}
			@include desktop {
				min-height: 200vh;
				.inner {
					position: sticky;
					top: 0;
					height: 100vh;
					display: flex;
					flex-direction: column;
					strong {
						position: relative;
						z-index: 2;
					}
					&::after {
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background-image: linear-gradient(to bottom, rgba(17,17,17,1) 50%, rgba(17,17,17,0) 100%);
						background-position: 0 calc(var(--per) * -200vh);
						background-repeat: repeat-x;
						background-size: 100% 200vh;
					}
				}
				.copy {
					margin-top: auto;
					font-size: pc-vw(60);
					line-height: 1.217;
					letter-spacing: -0.05em;
				}
				.by {
					margin-top: pc-vh(40);
					margin-bottom: auto;
					font-size: pc-vw(32);
					line-height: 1.219;
					letter-spacing: -0.03125em;
					text-align: right;
				}
			}
			@include mobile {
				.inner {
					padding: rem(120) 0;
				}
				.copy {
					padding-right: rem(20);
					font-size: rem(28);
					line-height: 1.214;
					letter-spacing: -0.02em;
					@include transition-fade-up-init(30, 0ms);
				}
				.by {
					margin-top: rem(32);
					font-size: rem(24);
					line-height: 1.208;
					letter-spacing: -0.041667em;
					@include transition-fade-up-init(30, 100ms);
				}
				&.ani {
					.copy, .by {
						@include transition-fade-up;
					}
				}
			}
		}

		.sec-3-2 {
			@include desktop {
				overflow-y: clip;
				padding-bottom: rem(140);
			}
		}
	}
	&.sec-4 {
		min-height: 100vh;
		text-align: center;
		display: flex;
		flex-direction: column;
		.inner {
			margin-top: auto;
			margin-bottom: auto;
			.subj {
				font-weight: 700;
			}
		}
		@include desktop {
			.subj {
				font-size: pc-vw(80);
				line-height: 1.212;
				letter-spacing: -0.0375em;
			}
			.copy {
				max-width: rem(680);
				margin: pc-vh(40) auto 0;
				font-size: rem(20);
				line-height: math.div(30, 20);
			}
			.btns {
				margin-top: var(--space-v-base);
			}
		}
		@include mobile {
			background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
			margin-left: var(--space-h-content-m);
			margin-right: var(--space-h-content-m);
			.subj {
				font-size: rem(40);
				line-height: 1.2;
				letter-spacing: -0.02em;
			}
			.copy {
				max-width: rem(300);
				margin: rem(20) auto 0;
				font-size: rem(14);
				line-height: 1.428;
			}
			.btns {
				margin-top: rem(20);
			}
		}
	}
}
.accordion {
	display: flex;
	flex-direction: column;
	counter-reset: count 0;
	--skin-bg: #fff;
	--skin-img-bg: transparent;
	--skin-color: #000;
	.skin-blue, .skin-blue + dd {
		--skin-bg: #001AFF;
		--skin-img-bg: #00ADFF;
		--skin-color: #fff;
	}
	.skin-gray, .skin-gray + dd {
		--skin-bg: #525252;
		--skin-img-bg: transparent;
		--skin-color: #fff;
	}
	> dt {
		counter-increment: count 1;
		color: var(--skin-color);
	}
	> dd {
		z-index: 9;
		border-radius: var(--radius-skin);
		background-color: var(--skin-bg);
		color: var(--skin-color);
		display: flex;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.item-head {
		letter-spacing: -0.02em;
	}
	.item-deco {
		position: relative;
		width: 100%;
		.img {
			display: block;
			aspect-ratio: 27/8;
			border-radius: rem(10);
			background-color: var(--skin-img-bg);
			overflow: hidden;
			clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
			img {
				transform: scale(1.5);
			}
		}
		.deco {
			position: absolute;
			left: 6.0185%;
			bottom: 0;
			z-index: 2;
			width: 47.5%;
			overflow: hidden;
			img {
				transform: translateY(100%);
			}
		}
		.img {
			transition: all 600ms;
		}
		img {
			display: block;
			width: 100%;
			transition: all 1s;
		}
	}
	dt.ani + dd {
		.img {
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		}
		.img img {
			transform: scale(1);
		}
		.deco img {
			transform: translateY(0%);
		}
	}

	@include desktop {
		--radius-skin: #{ rem(30) };
		--space-h: #{ pc-vw(80) };

		> dt {
			position: sticky;
			top: rem(20);
			z-index: 10;
			--round-b-gap : -100%;
			background : $svg-round-30-lt left top / auto var(--radius-skin) no-repeat, var(--skin-bg) $svg-round-30-rt right top / auto var(--radius-skin) no-repeat;
			border-radius: 0 0 var(--radius-skin) var(--radius-skin);
			// transition: color $ani-time;
			&:not(.sticky) {
				--skin-color: transparent;
				button {
					pointer-events: none;
				}
			}
	
			&::after {
				content:'';
				position: absolute;
				top: -50vh;
				right: 0;
				left: 0;
				bottom: 100%;
				z-index: -1;
				background-color: var(--base-bg);
			}
			button {
				width: 100%;
				padding: 0 var(--space-h);
				font-size: rem(20);
				line-height: rem(62);
				text-align: left;
				&::before {
					content:counter(count, decimal-leading-zero);
					position: absolute;
					top: 0;
					right: rem(80);
					font-size: rem(16);
					font-weight: 600;
				}
			}
			@for $i from 2 through 5 {
				&:nth-of-type(#{ $i }) {
					top: calc(($i - 1) * #{ rem(82) } + #{ rem(20) });
					z-index:(10 - ($i * 2 - 2));
					& + dd {
						z-index:(10 - ($i * 2 - 1));
					}
				}
				&:nth-last-of-type(#{ $i }) {
					margin-bottom: calc(($i - 1) * #{ rem(82) });
					& + dd {
						margin-top: calc(($i - 1) * #{ rem(-82) } + #{ rem(-62) });
					}
				}
			}
		}
		> dd {
			flex-wrap: wrap;
			margin: rem(-62) 0 rem(20);
			padding: var(--space-v-base) var(--space-h) calc(var(--space-h) * 0.75);
		}
		.item-head {
			width: 39%;
			font-size: pc-vw(50, 36);
			line-height: 1.22;
			strong {
				display: block;
			}
		}
		.item-deco {
			margin-top: pc-vh(40);
		}
		.item-detail {
			width: 61%;
			.text {
				margin-right: rem(-10);
				font-size: rem(20);
				line-height: 1.5;
				letter-spacing: -0.05em;
				min-height: 4.5em;
			}
		}
		.item-btns {
			width: 61%;
			margin: var(--space-v-base) 0 0 auto;
			text-align: right;
		}
		.item-type {
			position: relative;
			display: block;
			margin-bottom: pc-vh(40);
			font-size: rem(16);
			font-weight: 600;
			line-height: 1.25;
			&::before {
				content:counter(count, decimal-leading-zero);
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
	@include mobile {
		--radius-skin: #{ rem(10) };
		--space-h: #{ rem(20) };

		> dt {
			background: var(--skin-bg);
			border-radius: var(--radius-skin) var(--radius-skin) 0 0;
			button {
				position: relative;
				display: block;
				width: 100%;
				padding: rem(20) var(--space-h) 0;
				font-size: rem(10);
				font-weight: 600;
				line-height: 1.4;
				letter-spacing: -0.0142em;
				text-align: left;
				&::before {
					content:counter(count, decimal-leading-zero);
					position: absolute;
					top: rem(20);
					right: var(--space-h);
					font-size: inherit;
				}
			}
			@include transition-fade-up-init(30, 0ms);
		}
		> dd {
			flex-direction: column;
			margin: 0 0 rem(10);
			padding: rem(8) var(--space-h) var(--space-h);
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			@include transition-fade-up-init(30, 0ms);
		}
		.item-head {
			font-size: rem(24);
			line-height: 1;
		}
		.item-deco {
			margin-top: rem(20);
			.img {
				aspect-ratio: 2.8/1;
				border-radius: rem(6);
				clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
				img {
					transform: scale(1.7);
					transform-origin: center top;
				}
			}
			.deco {
				left: 26.6075%;
				z-index: 2;
				width: 46.785%;
			}
		}
		.item-detail {
			margin-top: rem(16);
			.text {
				font-size: rem(14);
				line-height: 1.428;
				letter-spacing: -0.02em;
				min-height: 8.568em;
			}
		}
		.item-btns {
			order: 1;
			margin-top: rem(20);
			.btn-more {
				display: flex;
				align-items: center;
				.ico-arrow {
					margin-left: auto;
				}
			}
		}
		.item-type { display: none; }
		dt.ani {
			@include transition-fade-up;
			& + dd {
				@include transition-fade-up;
				.img img {
					transform: scale(1.206);
				}
			}
		}
	}
}


$sub-main-color : #001AFF;
$sub-black-color : #111;

// Office
.office-visual {
	position: relative;
	--ani-active: 0;
	&.ani {
		--ani-active: 1;
	}
	@include desktop {
		margin-top: pc-vw(374);
	}
	@include mobile {
		display: flex;
		flex-direction: column;
		margin-top: rem(80);
	}
	img {
		max-width: 100%;
		display: block;
	}
	.img {
		display: block;
		aspect-ratio: 365/95;
		border-radius: rem(10);
		background: #1050F0;
		img {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 2;
		}
		@include mobile {
			aspect-ratio: 31.9/38;
			img { display: none; }
		}
	}
	.deco {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align: center;
		clip-path: polygon(-100% 0%, 100% 0%, 100% 100%, -100% 100%);
		img {
			transform: translateY(calc((1 - var(--ani-active)) * 100%));
			max-width: 43.35%;
			margin-left: auto;
			margin-right: auto;
			transition: all 1s;
		}
		@include mobile {
			left: rem(-48);
			right: rem(-48);
			width: auto;
			img {
				max-width: 100%;
			}
		}
	}
	.icons {
		display: block;
		display: flex;
		@include desktop {
			position: absolute;
			bottom: 100%;
			left: 0;
			height: pc-vw(80);
			transform: translateY(rem(-20));
			.item {
				height: 100%;
				& + .item {
					margin-left: pc-vw(24);
				}
			}
		}
		@include mobile {
			justify-content: space-between;
			align-items: center;
			order: -1;
			height: rem(51.45);
			margin-bottom: rem(72.55);
		}
	}
}
.column-card {
	--rad: #{rem(10)};
	--text-b: #111;
	--text-w: #fff;

	@include desktop {
		display: flex;
		.effect-fade:not(.ani) & {
		}
		.effect-fade & {
			.card-item {
				transition: opacity 600ms $ani-time, transform 600ms $ani-time;
			}
		}
		.effect-fade:not(.ani) &.active,
		.effect-fade &.old-active:not(.active) {
			.card-item {
				transition-delay: 0ms, 0ms;
				transition-duration: $ani-time, $ani-time;
				&:nth-child(odd) {
					opacity: 0;
					transform: translateY(rem(-60));
				}
				&:nth-child(even) {
					opacity: 0;
					transform: translateY(rem(60));
				}
			}
		}
		.effect-fade &:not(.active){
			.card-item {
				&:nth-child(odd) {
					opacity: 0;
					transform: translateY(rem(60));
				}
				&:nth-child(even) {
					opacity: 0;
					transform: translateY(rem(-60));
				}
			}
		}
	}
	.card-item {
		&.ty-word {
			--point-color1: #7B5FFA;
			--point-color2: #D3CDFA;
			--text-color: var(--text-b);
		}
		&.ty-cell {
			--point-color1: #1CAD95;
			--point-color2: #DCFFF8;
			--text-color: var(--text-b);
		}
		&.ty-show {
			--point-color1: #FA7C50;
			--point-color2: #FFEBE4;
			--text-color: var(--text-b);
		}
		&.ty-pdf {
			--point-color1: #E5294A;
			--point-color2: #FFEDF0;
			--text-color: var(--text-w);
		}

		display: block;
		border-radius: var(--rad);
		background-color: var(--point-color2);
		color: var(--text-b);
		font-weight: 400;
		.cap {
			color: var(--point-color1);
			font-weight: 600;
		}
		.text-ty {
			font-weight: 600;
		}
		.img {
			
			img {
				max-width: 100%;
				vertical-align: top;
			}
		}
		@include desktop {
			flex: 1;
			padding: pc-vw(40) pc-vw(95) pc-vw(40) pc-vw(40);
			font-size: pc-vw(20,14);
			line-height: 1.5;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.cap {
				margin-bottom: pc-vw(24);
				font-size: pc-vw(16,12);
				line-height: 1.25;
			}
			.text-ty {
				margin-bottom: pc-vw(20);
				font-size: pc-vw(28,20);
				line-height: 1.357;
			}
			.img {
				margin-top: pc-vw(20);
				text-align: right;
				transform: translateX(pc-vw(40));
				&.ty-illu {
					margin-top: pc-vw(40);
					transform: translateX(0);
					text-align: center;
					img {
						width: 52.6%;
					}
				}
				img {
					max-width: 76.31%;
				}
			}
			&:nth-child(even) {
				padding-right: pc-vw(75);
				margin-left: calc(pc-vw(60) * -1);
				top: pc-vh(40);
			}
		}
		@include mobile {
			padding: rem(28) rem(20);
			font-size: rem(14);
			line-height: 1.428;
			letter-spacing: -0.02em;
			.cap {
				margin-bottom: rem(16);
				font-size: rem(12);
				line-height: 1.25;
				letter-spacing: 0;
			}
			.text-ty {
				margin-bottom: rem(16);
				font-size: rem(24);
				line-height: 1.208;
			}
			.img {
				width:100%;
				margin-top: rem(32);
				img {
					width:100%;
				}
			}
			& + .card-item {
				margin-top: rem(12);
			}
		}
		&:nth-child(even) {
			background-color: var(--point-color1);
			color: var(--text-color);
			.cap {
				color: var(--text-w);
			}
		}
	}
}

// AI
.ai-top-title {
	margin:0 0 pc-vh(90) 0;
	font-size: pc-vw(60);
	letter-spacing: 0.01em;
	@include mobile {
		margin:0 0 rem(24) 0;
		font-size: rem(28);
	}
}
.al-icon-title {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top:0;
		left:0;
		display: block ;
		width:pc-vw(80);
		aspect-ratio: 1/1;
		background-image: url(../img/sub/ai-h-icon.svg);
		background-size: contain;
		background-repeat: no-repeat;
		@include mobile {
			position: static;
			width: rem(54);
			margin:0 0 rem(14) 0;
		}
	}
	.iblock {
		margin:0 0 0 pc-vw(120);
		@include mobile {
			margin:0;
		}
	}
}
.ai-icon-title-sub {
	margin:0 0 0 pc-vw(120);
	font-size: pc-vw(20,14);
	@include mobile {
		margin:0;
	}
}
.ai-g-col-group {
	margin:0 0 0 pc-vw(120);
	@include mobile {
		margin:0;
	}
}
.ai-g-title-2 {
	margin:0 0 pc-vh(60) 0;
	@include mobile {
		margin:0 0 rem(24) 0;
	}
}
.ai-ar {
	.ai-ar-inner {
		margin:pc-vh(280) 0 0 0;
		@include mobile {
			margin:rem(80) 0 0 0;
		}
		&.ai-1 {

		}
		&.ai-2 {
			ul.swiper-wrapper {
				li {
					display: flex;
					align-items: center;
					justify-content: center;
					&:nth-child(1) {
						padding:pc-vw(80);
					}
					&:nth-child(2) {
						padding:pc-vw(40);
						background-color: #f4f4f4;
					}
					img {
						width:100%;
						&.pc {
							display: block;
							@include mobile {
								display: none;
							}
						}
						&.mo {
							display: none;
							@include mobile {
								display: block;
							}
						}
					}
				}
			}
			[data-swiper].swiper-ty .swiper {
				&[activeindex="activeIndex1"] {
					--shadow-size : none;
				}
			}
		}
		&.ai-3 {
			h4.g-title-2 {
				display: flex;
				@include mobile {
					flex-direction: column;
					margin:0 0 rem(40) 0;
				}
				&:before {
					content: '';
					display: block;
					width:pc-vw(90);
					height:pc-vh(90);
					margin:0 pc-vw(40) 0 0;
					background-image: url(../img/sub/ai-h-icon.svg);
					background-size: contain;
					background-repeat: no-repeat;
					@include mobile {
						width:rem(54);
						height:rem(54);
						margin:0 0 rem(14) 0;
					}
				}
			}
			div.g-col-group {
				div.col {
					@include mobile {
						margin: 0 0 rem(24) 0;
					}
				}
			}
		}
		&.ai-4 {
			position: relative;
			padding:pc-vh(280) 0 0 0;
			background-color: #030281;
			color:#fff;
			&:before {
				content: '';
				position: absolute;
				display: block;
				width:150%;
				height:calc(100% + pc-vh(200));
				top:0;
				left:50%;
				transform: translateX(-50%);
				background-color: #030281;
				z-index:-1;
			}
			@include mobile {
				padding:rem(80) 0 0 0;
			}
			ul.video-list {
				margin:rem(60) 0 0 0;
				li {
					display: flex;
					&:not(:last-child) {
						margin-bottom: pc-vh(140);
					}
					@include mobile {
						flex-direction: column;
						&:not(:last-child) {
							margin-bottom: rem(40);
						}
						> a {
							width:100%;
						}
					}

					span.video-thumb {
						pointer-events: none;
						position:relative;
						display: block;
						border-radius: rem(10);
						overflow: hidden;
						&:before {
							content:'';
							position:absolute;
							top:0;
							left:0;
							display: block;
							width:100%;
							height:100%;
							background-color: rgba(17, 17, 17, 0.80);
							background-image: url(../img/sub/ai-icon-play.svg);
							background-size:rem(90) rem(90);
							background-repeat: no-repeat;
							background-position: center;
							z-index:2;
							@include mobile {
								background-size:rem(40) rem(40);
							}
						}
			
						img {
							position:absolute;
							top:0;
							left:50%;
							transform: translateX(-50%);
							width:100%;
							&.pc {
								display: block;
							}
							&.mo {
								display: none;
							}
							@include mobile {
								position: static;
								transform: none;
								&.pc {
									display: none;
								}
								&.mo {
									display: block;
								}
							}
						}
					}
					div.p-wrap {
			
						p.title {
							margin:0 0 pc-vh(40) 0;
							font-size:pc-vw(28);
							font-weight: 600;
							line-height: 1.35;
							letter-spacing: -0.01em;
							@include mobile {
								margin:rem(32) 0 rem(16) 0;
								font-size:rem(24);
							}
						}
						p.sub-disc {
							letter-spacing: -0.02em;
							@include mobile {
								font-size:rem(14);
							}
						}
					}
					&:nth-child(1) {
						align-items: flex-end;
						@include mobile {
							align-items: flex-start;
						}
						span.video-thumb {
							width:pc-vw(580);
							aspect-ratio: 10/6.9;
							margin:0 pc-vw(60) 0 0;
							@include mobile {
								width:100%;
								aspect-ratio: 16/9;
							}
						}
					}
					&:nth-child(2) {
						flex-direction: row-reverse;
						@include mobile {
							flex-direction: column;
						}
						> a {
							display: flex;
							justify-content: flex-end;
							@include mobile {
								justify-content: flex-start;
							}
						}
						span.video-thumb {
							width:pc-vw(340);
							aspect-ratio: 10/15.3;
							background-color: #fff;
							flex-direction: column;
							@include mobile {
								width:100%;
								aspect-ratio: 16/9;
							}
							img {
								height:pc-vh(550);
								transform: translateX(-50%);
								@include mobile {
									height: auto;
									transform: none;
								}
							}
						}
						div.p-wrap {
							width:calc(100% - pc-vw(340));
							display: flex;
							flex-direction: column;
							justify-content: center;
							margin-left:pc-vw(190);
							@include mobile {
								width:100%;
								margin:0;
								justify-content: flex-start;
							}
						}
					}
					&:nth-child(3) {
						align-items: flex-end;
						@include mobile {
							align-items: flex-start;
						}
						span.video-thumb {
							width:pc-vw(360);
							aspect-ratio: 1/1;
							margin-left:pc-vw(190);
							margin-right:pc-vw(60);
							@include mobile {
								width:100%;
								aspect-ratio: 16/9;
								margin:0;
							}
						}
					}
				}
			}
		}
		&.ai-5 {
			@include mobile {
				padding:rem(60) 0;
				background-color: #f4f4f4;
			}
			h5.g-title-2 {
				@include mobile {
					text-align: center;
				}
			}
			div.inner-table-img {
				padding:pc-vh(123) pc-vw(186);
				background-color: #f4f4f4;
				border-radius: rem(6);
				@include mobile {
					padding:0;
					background: none;
					border-radius: 0;
				}
				img {
					width:100%;
					&.pc {
						display: block;
						@include mobile {
							display: none;
						}
					}
					&.mo {
						display: none;
						@include mobile {
							display: block;
						}
					}
				}
			}
		}
		&.ai-6 {
		}
		h5.g-title-2 {
			margin-bottom:pc-vh(60);
			@include mobile {
				margin-bottom:rem(20);
			}
		}
	}
}


// SDK
.sdk-overview-visual-1 {
	padding: pc-vw(150) 0 0 0;
	@include mobile {
		padding:rem(180) 0 0 0;
	}
	&.ani {
		.img {
			.back {
				transform: translateY(0);
				.icon {
					@for $i from 1 to 9{
						&.icon-#{$i}{
							animation: ani-bounce-in random($i * 1500) + ms $ani-time ease both;
						}
					}
				}
			}
		}
	}

	.img {
		display: flex;
		flex-direction: column;
		align-items: center;
		.back {
			position: relative;
			display: inline-block;
			width:pc-vw(1167);
			transform: translateY(pc-vh(100));
			transition: all $ani-time;
			@include mobile {
				width:125%;
			}
			> img {
				width:100%;
			}
			.icons {
				.icon {
					position:absolute;
					z-index:2;
					width: 7.1979%;
					opacity: 1;
					transform: scale(1);
					img {
						width:100%;
					}
					&.icon-1 {
						top:7%;
						left:9%;
						@include mobile {
							top:-4%;
							left:28%;
						}
					}
					&.icon-2 {
						top:10%;
						left:67%;
						@include mobile {
							top:12%;
							left:67%;
						}
					}
					&.icon-3 {
						top:35%;
						left:39%;
						@include mobile {
							top:35%;
							left:39%;
						}
					}
					&.icon-4 {
						top:37%;
						left:85%;
						@include mobile {
							top:39%;
							left:78%;
						}
					}
					&.icon-5 {
						top:50%;
						left:6%;
						@include mobile {
							top:50%;
							left:7%;
						}
					}
					&.icon-6 {
						top:63%;
						left:52%;
					}
					&.icon-7 {
						top:91%;
						left:19%;
						@include mobile {
							top:91%;
							left:21%;
						}
					}
					&.icon-8 {
						top:91%;
						left:65%;
						@include mobile {
							top:91%;
							left:64%;
						}
					}
				}
			}
		}
	}
}
.sdk-overview-visual-2 {
	position:relative;
	aspect-ratio: 16/10.5;
	margin:rem(240) 0 0 0;
	padding:pc-vh(72) pc-vw(60);
	border-radius: rem(10);
	color:#fff;
	background-color: #0115C7;
	// --ani-active: 0;
	// &.ani {
	// 	--ani-active: 1;
	// }

	@include mobile {
		aspect-ratio :initial;
		padding:rem(90) rem(40) rem(80) rem(40);
	}
	span.img {
		position: absolute;
		width:pc-vw(434);
		top:rem(-100);
		right:pc-vw(50);
		transition: all $ani-time $ease-inout-cubic;
		img {
			width:100%;
		}
		@include mobile {
			width:rem(170);
			right:0;
			left:50%;
			transform: translateX(-50%);
		}
	}
	div.inner {
		span.title {
			display: block;
			margin:0 0 pc-vh(32) 0;
			font-weight: 600;
			font-size: pc-vw(28);
			@include mobile {
				margin:0 0 rem(16) 0;
				font-size: rem(24);
				letter-spacing: -0.01em;
				line-height: 1.33;
			}
		}
		span.g-text {
			display: inline-block;
		}
		span.inner-img {
			img {
				width:100%;
			}
			&.pc {
				position:absolute;
				top:auto;
				left:50%;
				right:0;
				width:100%;
				padding:0 pc-vw(195);
				bottom:pc-vw(90);
				transform: translateX(-50%);

			}
			&.mo {
				display: none;
			}
			@include mobile {
				margin:rem(60) 0 0 0;
				&.pc {
					display: none;
				}
				&.mo {
					display: block;
					width:rem(243);
				}
			}
		}
	}
}

.sdk-spreadsheet-visual-1 {
	&.ty-center-icon {
		position: relative;
		width:100%;
		aspect-ratio: 10/3.04;
		margin:pc-vh(80) 0 0 0;
		border-radius: rem(10);
		background-image: url(../img/sub/sdk-common-bg.png);
		background-size: 100%;
		background-repeat: no-repeat;
		span.img {
			position:absolute;
			width:17.7%;
			top:68%;
			left:50%;
			transform: translateX(-50%);
			img {
				width:100%;
			}
		}
	}
}
.sdk-spreadsheet-1 {
	margin-top:calc(pc-vh(280) + pc-vh(80));
	div.img-wrap {
		text-align: center;
		span.img {
			position:relative;
			display: inline-block;
			width:pc-vw(998);
			> img {
				width:100%;
			}
			ul.box-list {
				li {
					position: absolute;
					display: flex;
					width:23.34%;
					height:32.18%;
					padding:pc-vw(24);
					border: 1px solid rgba(17, 17, 17, 0.10);
					border-radius: rem(6);
					background-color: #fff;
					box-shadow: 0px pc-vw(6) pc-vw(20) 0px rgba(17, 17, 17, 0.10);
					&:before {
						content: '';
						display: block;
						width:34.33%;
						aspect-ratio: 1/1;
						background-repeat: no-repeat;
						background-size: contain;
					}
					&:nth-child(1) {
						&:before {
							background-image: url(../img/sub/sdk-spreadsheet-icon-1-1.svg);
						}
					}
					&:nth-child(2) {
						&:before {
							background-image: url(../img/sub/sdk-spreadsheet-icon-1-2.svg);
						}
					}
					&:nth-child(3) {
						&:before {
							background-image: url(../img/sub/sdk-spreadsheet-icon-1-3.svg);
						}
					}
					&:nth-child(4) {
						&:before {
							background-image: url(../img/sub/sdk-spreadsheet-icon-1-4.svg);
						}
					}
				}
			}
		}
	}
}
.sdk-ar {
	position:relative;
	padding:pc-vh(280) pc-vw(110) 0 pc-vw(110);
	@include mobile {
		padding:rem(80) 0 0 0;
	}
	.ai-ar-inner {
		padding:pc-vh(280) pc-vw(110) 0 pc-vw(110);
	}
	&.sdk-overview-1 {
		display: flex;
		flex-direction: column;
		--ani-active: 0;
		&.ani {
			--ani-active: 1;
		}
		@include mobile {
			display: block;
		}
		.p-wrap {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.g-title-2 {
				display: flex;
				@include mobile {
					flex-direction: column;
				}
				span.img {
					margin-right : pc-vw(50);
					@include mobile {
						width: rem(140);
						height: rem(100);
						margin:0 0 rem(40) 0;
					}
					img {
						width: pc-vw(235);
						@include mobile {
							width: rem(140);
						}
					}
				}
			}
			> p.sub-disc {
				font-size: pc-vw(20, 12.5);
				// margin-left : pc-vw(50);
				// padding-left:pc-vw(235);
				@include mobile {
					margin-left:0;
					padding-left:0;
				}
			}
		}
		ul.disc {
			display: flex;
			margin:pc-vh(80) 0 0 0;
			@include mobile {
				margin:rem(40) 0 0 0;
				flex-direction: column;
			}
			li {
				position: relative;
				width:pc-vw(470);
				margin:0 0 rem(20) 0;
				padding:pc-vw(30);
				border:1px solid $sub-main-color;
				border-radius: rem(10);
				@include mobile {
					width:100%;
					margin:0 0 rem(20) 0;
					padding:rem(20);
				}
				&:before {
					content:'';
					position: absolute;
					display: block;
					top:pc-vw(20);
					right:pc-vw(20);
					width:pc-vw(42, 26);
					height:pc-vh(42, 26);
					background-repeat: no-repeat;
					background-size: contain;
					z-index:3;
					@include mobile {
						top:rem(10);
						right:rem(10);
						width:rem(26);
						height:rem(26);
					}
				}
				&:not(:last-child) {
					margin-right: pc-vw(20);
					@include mobile {
						margin-right:0;
					}
				}
				&:nth-child(1) {
					&:before {
						background-image: url(../../static/img/sub/sdk-overview-icon-3-1.svg);
					}
				}
				&:nth-child(2) {
					&:before {
						background-image: url(../../static/img/sub/sdk-overview-icon-3-2.svg);
					}
				}
				&:nth-child(3) {
					&:before {
						background-image: url(../../static/img/sub/sdk-overview-icon-3-3.svg);
					}
				}
				p.title {
					margin:0 0 rem(24) 0;
					font-size:pc-vw(28);
					font-weight: 500;
					letter-spacing: -0.02em;
					color: $sub-main-color;
					@include mobile {
						margin:0 0 rem(16) 0;
						font-size:rem(20);
						line-height: 1.2;
					}
				}
			}
		}
	}
	&.sdk-overview-2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		@include mobile {
			align-items: flex-start;
			text-align: left;
		}
		> p.sub-disc {
			font-size: pc-vw(20, 14);
		}
	}
}



// 서브 공통

p.sub-disc {
	font-size: pc-vw(20, 13);
	line-height: 1.25;
	@include mobile {
		font-size: rem(14);
		line-height: 1.65;
	}
}
ul.ty-disc {
	display: flex;
	align-items: flex-start;
	margin-top: rem(80);
	@include mobile {
		flex-wrap: wrap;
		margin-top: rem(40);
	}
	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		width:100%;
		@include mobile {
			width:50%;
			margin:0 0 rem(20) 0;
		}
		div.img {
			display: flex;
			align-items: center;
			justify-content: center;
			width:rem(124);
			height:rem(124);
			border-radius: 100%;
			background-color: rgba(0, 26, 255, 0.10);
			@include mobile {
				width:rem(100);
				height:rem(100);
			}
		}
		p.sub-disc {
			width:100%;
			margin:rem(20);
			font-size: pc-vw(16 , 12);
			line-height: 1.25;
			text-align: center;
			@include mobile {
				margin:rem(12) 0 0 0;
				font-size:rem(12);
			}
		}
		&:not(:last-child) {
			margin-right: pc-vw(100);
			@include mobile {
				margin-right:0;
			}
		}
	}
	&.tree {
		@include mobile {
			padding:0 rem(40);
		}
		li {
			position:relative;
			padding:pc-vh(40) 0 0 0;
			width:100%;
			margin-right: 0;
			@include mobile {
				padding:rem(20) 0 rem(50) 0;
				border-bottom:1px solid $sub-black-color;
			}
			&::before {
				content: '';
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height: 25%;
				display: block;
				border-right:1px solid $sub-black-color;
				border-top:1px solid $sub-black-color;
				@include mobile {
					display: none;
				}
			}
			&:first-child {
				&::before {
					border-left:1px solid $sub-black-color;
					@include mobile {
						border-left:none;
					}
				}
			}
			div.img {
				width:pc-vw(185);
				height:pc-vw(185);
				@include mobile {
					width:rem(100);
					height:rem(100);
				}
			}
		}
	}
}
ul.ty-line {
	border-top:1px solid $sub-black-color;
	> li {
		display: flex;
		align-items: center;
		padding:rem(64) 0;
		border-bottom:1px solid $sub-black-color;
		@include mobile {
			flex-direction: column;
			padding:rem(60) 0;
		}
		div.img {
			width:pc-vw(340, 200);
			@include mobile {
				width:100%;
			}
			img {
				width:100%;
			}
		}
		div.p-wrap {
			width:calc(100% - pc-vw(340, 200));
			padding-left: pc-vw(60);
			@include mobile {
				width:100%;
				padding:0;
			}
			p.title {
				margin:0 0 pc-vh(40) 0;
				font-size:pc-vw(32);
				font-weight: 600;
				letter-spacing: -0.01em;
				line-height: 1.31;
				@include mobile {
					margin:rem(24) 0 rem(20) 0;
					font-size:rem(24);
				}
			}
			ul.mg-ty {
				li {
					margin:0;
					font-size:pc-vw(20, 12);
					@include mobile {
						font-size:rem(14);
						line-height: 1.42;
					}
					& + li {
						margin: 0 0 pc-vh(10) 0
					}
				}
			}
		}
	}
}
ul.ty-icon {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	li {
		width:20%;
		padding:pc-vh(40) pc-vh(20, 5);
		@include mobile {
			width:50%;
			padding:rem(40) 0 0 0;
		}
		&:nth-child(-n+5) {
			border-bottom:1px solid $sub-black-color;
			@include mobile {
				border-bottom: none;
			}
		}
		&:nth-child(odd) { 
			@include mobile {
				padding:rem(40) rem(16) 0 0;
			}
		}
		img {
			width:pc-vw(42);
			height:pc-vh(42);
			@include mobile {
				width:rem(42);
				height:rem(42);
			}
		}
		p {
			margin:pc-vh(40) 0 0 0;
			font-size:pc-vw(16, 12);
			letter-spacing: -0.03em;
			@include mobile {
				margin:rem(16) 0 0 0;
			}
		}
	}
}