@charset 'utf-8';

@import './_mixin_function.scss';
@import './_variables.scss';
@import './_fonts.scss';

//lang jp style
.header {
    @include desktop {
        .contact-us {
            .dropdown-target {
                .message {
                    dt {
                        font-size: pc-vw(45);
                    }
                }
            }
        }
    }
}
.main-section {
    &.sec-1 {
        @include desktop {
            .copy {
                font-size: pc-vw(150);
                letter-spacing: -0.1375em;
            }
        }
    }
    &.sec-3 {
        .sec-3-1 {
            @include desktop {
                .copy {
                    font-size: pc-vw(58);
                }
            }
        }
    }
}